<html>
    <head>
        
    </head>
    <body>
        <form action="/campgrounds/<%= campgrounds._id %>" method="POST">
            <input type="text" name="name" value="<%= campgrounds.name %>">
            <input type="text" name="image" value="<%= campgrounds.image %>">
            <input type="text" name="body" value="<%= campgrounds.description %>">
            <button>Final??</button>
        </form>
    
    </body>
</html>
