<html>
    <head>
        <title> Camping </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    </head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">Yelp Camp
        </a>
        
      </nav>

<h1> Creating A new camp</h1>
<form action="/campground" method="POST">
    <input type="text" name="names" placeholder="name">
    <input type="text" name="url" placeholder="link">
    <input type="text" name="description" placeholder="desc loda">
    <button>Click me!</button>

</form>



</body>
</html>