<html>
    <head>
        
    </head>
    <body>
        <form action="/blogs/<%= blogs._id %>" method="POST">
            <input type="text" name="name" value="<%= blogs.name %>">
            <input type="text" name="image" value="<%= blogs.image %>">
            <input type="text" name="body" value="<%= blogs.body %>">
            <button>Final??</button>
        </form>
    
    </body>
</html>
