<form action="/blogs" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name="image" placeholder="Image">
<input type="text" name="bds" placeholder="Body">
<button type="submit">Submit</button>
</form>