<html>
<body>
<form action="/campgrounds/<%=camper._id%>" method="POST">
<h1>Comments</h1>
Comments:<input type=text name="comments">
Author:<input type=text name="author">
<button>Lund</button>
</form>
</body>
</html>