<html>
<body>
<form action="/campgrounds/<%=camper._id%>" method="POST">
<h1>Comments</h1>
Comments:<input type=text name="comments">
Author:<input type=text name="author">
<button>Lund</button>
<a href="/signup">signup</a>
<a href="/signin">signin</a>
<a href="/logout">logout</a>
</form>
</body>
</html>